body {
  font-family: sans-serif;
}

.box {
  display: flex;
  justify-content: center;
}
.box:hover > .text {
  background-color: #b2bec3;
  box-shadow: 1px 15px 8px 0px rgba(0, 0, 0, 0.45);
}

.box:last-child {
  margin-top: 100px;
}
.text {
  margin-top: 10px;
  background-color: #636e72;
  padding: 20px 60px;
  position: fixed;
  top: 0;
  border-radius: 30px;
  color: white;
  font-weight: bolder;
  transition: all 3s ease-in-out;
}

img {
  border: 1px dashed black;
  padding-top: 30px;
  width: 400px;
  height: 400px;
  transition: transform 2s ease-in-out;
}

.box:hover > img {
  transform: rotate(200deg) scale(0.8, 0.8);
}
